<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
	<div class="container">

		<div class="row" >	
			<div class="col-md-12">
				<div class="section-header" style="text-align: center">
					<h1 class="section-title">Mini-</h1>
					<h1 class="section-title text-blue"> G</h1>
					<h1 class="section-title text-red">O</h1>
					<h1 class="section-title text-yellow">O</h1>
					<h1 class="section-title text-blue">G</h1>
					<h1 class="section-title text-green">L</h1>
					<h1 class="section-title text-red">E</h1>
				</div>
			</div>	
		</div>

		<div class="row">

			<div class="col-md-4">
				<form action="{{url_for('minigoogle')}}" method="POST">
					<input type="text" name="query" placeholder="Search..." class="aside-query">
					<input type="submit" value="Search"  class="hidden">
				</form>
				<div class="aside-description">
					<img style="width: 100%" src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Suffix_tree_BANANA.svg">					
				</div>
			</div>
			<div class="col-md-8">
				<dir class="section-body">
					{% for i in range(ti|length) %}
						<a href="{{url_for('view',dbindex=i)}}" class="text-black titles-app" > {{ ti[i] }} </a><br><br>
					{% endfor %}
				</dir>
			</div>
		</div>		

	</div>
</body>
</html>

