<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
	<div class="container">
		<div class="row" >	
			<div class="col-md-4">
			</div>
			<div class="col-md-8">
				<div class="section-header" style="text-align: center">
					<h1 class="section-title">Mini-</h1>
					<h1 class="section-title text-blue"> G</h1>
					<h1 class="section-title text-red">o</h1>
					<h1 class="section-title text-yellow">o</h1>
					<h1 class="section-title text-blue">g</h1>
					<h1 class="section-title text-green">l</h1>
					<h1 class="section-title text-red">e</h1>
				</div>
			</center>
		</div>

		<div class="row" style="margin-top: 40px">		
			<div class="col-md-12">
				<div class="col-md-2" style="font-weight: bold;">
					Título:
				</div>
				<div class="col-md-10">
					{{titulo}}
				</div>
			</div>
			
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-2" style="font-weight: bold;">
					Contenido:
				</div>
				<div class="col-md-10">
					{{contenido}}
				</div>
			</div>
		</div>


		<footer></footer>

	</div>
</body>
</html>